@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#dashboard-menu:hover {
  transform: translate(-1.5%, -1.5%);
  transition: transform 0.45s;
}

#table-div {
  margin-bottom: 10px;
}
